<section class="bg-primary" id="about">
  <!--  <div class="container">
        <div class="row">
            <div class="col-lg-11 text-center">
                <h2 class="section-heading"></h2>
                   <hr class="primary">
            </div>
        </div>
    </div>
      -->  
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-lg-10 text-center">
                <div class="service-box" >
                    <h2 >Our Vision</h2>
                    <hr class="light">
                    <p class="text-faded">Our Vision is to provide Business Intelligence and analytics to Small and medium businesses (SMEs). We want to provide SMEs equal and strong platform to compete with Big players in their sectors</p>
                </div>
           </div>
           <div class="col-lg-4 col-lg-10 text-center" >
                <div class="service-box">
                    <h2 class="section-heading">Our Stroy</h2>
                    <hr class="light">
                    <p class="text-faded">We've team of experienced professionals with strong knowledge in data and cloud space. We believe if BI & A done right it can decrease operational cost, increase growth rate significantly and help Small and Medium Businesses capture more business. We are passionate about providing same set of tools and technologies to SMBs as large Enterprises but at a fraction of the cost.</p>
                    </div> 
            </div>  
            <div class="col-lg-4 col-lg-10 text-center" >
                    <div class="service-box">
                        <h2 class="section-heading">Technology</h2>
                        <hr class="light">
                        <p class="text-faded">Our aim is to use cloud technology and reduce overall cost for our clients. We have Certified cloud architects and engineers to design and develop solutions. </p>
                        </div> 
            </div>  
        </div>
    </div>
</section>
