<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading"> Services</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary"></i>
                    <h3>Cloud Adoption</h3>
                    <p class="text-muted text-left" >
                            Cloud Assessment/ readiness<br>
                            Total Cost of Ownership (TCO) analysis<br>
                            Workload & Infrastructure migration Planning<br>
                            Transformation and Digitization<br>
                            Lift & Shift vs Re Architecture analysis<br>
                            Proof of Concepts (POCs)<br>
                            Cloud & BI Training<br>
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Cloud Use Cases</h3>
                    <p class="text-muted text-left">
                            Secure Compute capacity on Cloud<br>
                            Secure Backup & Storage on Cloud<br>
                            Disaster Recovery on Cloud<br>
                            Reporting and/or Advance Analytics on Cloud<br>
                            Infrastructure as a Service (IaaS)<br>
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Managed Services</h3>
                    <p class="text-muted text-left">
                            BI as a Services<br>
                            Data Warehouse as a Services<br>
                            Reporting as a Service<br>
                            Analytics as a Service<br>
                            
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
